<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APPBASE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <userSettings>
    <APPBASE.Properties.Settings>
      <setting name="DB01TYPE" serializeAs="String">
        <value>MSSQL</value>
      </setting>
      <setting name="DB01SERVER" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DB01NAME" serializeAs="String">
        <value>DBSSP</value>
      </setting>
      <setting name="DB01USERID" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DB01PASSWORD" serializeAs="String">
        <value>Init123.</value>
      </setting>
      <setting name="DB02TYPE" serializeAs="String">
        <value />
      </setting>
      <setting name="DB02SERVER" serializeAs="String">
        <value />
      </setting>
      <setting name="DB02NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="DB02USERID" serializeAs="String">
        <value />
      </setting>
      <setting name="DB02PASSWORD" serializeAs="String">
        <value />
      </setting>
      <setting name="DB03TYPE" serializeAs="String">
        <value />
      </setting>
      <setting name="DB03SERVER" serializeAs="String">
        <value />
      </setting>
      <setting name="DB03NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="DB03USERID" serializeAs="String">
        <value />
      </setting>
      <setting name="DB03PASSWORD" serializeAs="String">
        <value />
      </setting>
      <setting name="DBNO" serializeAs="String">
        <value>1</value>
      </setting>
    </APPBASE.Properties.Settings>
  </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
